@{
    ViewData["Title"] = "Julio&Júllia.co";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <strong><p>Who are we?</p></strong>
    <p>We are a new upcoming company in the labour market seeking for all types of employees to hire</p>
    <p>Please leave your Information in the next page so we can contact you!</p>
    
</div>
